{% extends 'base.htm' %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block head %}
  <title>Register</title>
  <link rel="stylesheet" href="{% static 'service/logout/style.css' %}">
  {% endblock %}
</head>

<body>
  {% block content %}
  <div class="container">
    <div class="form-container"></div>
    {% csrf_token %}
    <fieldset class="fieldset form-group">
      <legend class="legend border-bottom mb-4">You have been logged out</legend>
    </fieldset>

    <div class="form-group">
      <a href="{% url 'login' %}"><button class="submit">Login</button></a>
    </div>

    <div>
      <small class="login-remainder">Need an account? <a href="{% url 'register' %}">Sign Up Now</a></small>
    </div>
  </div>


  <script src="{% static 'service/logout/app.js' %}"></script>
  {% endblock %}
</body>

</html>