.form-container{
  position: absolute;
  width: 1080px;
  height: 925px;
  left: 100px;
  top: 137px;
  
  background: #FFFBFB;
  border: 2px solid #EBE3E3;
  box-sizing: border-box;
  border-radius: 3px;
}

.submit{
  position: absolute;
  width: 277px;
  height: 52px;
  left: 270px;
  top: 247px;
  
  background: #FFFFFF;
  border: 1px solid #D82796;
  box-sizing: border-box;
  border-radius: 5px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  
  color: #D82796;
}

.legend{
  position: absolute;
  width: 603px;
  height: 44px;
  left: 271px;
  top: 159px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  
  
  color: #000000;
}

.login-remainder{
  position: absolute;
  width: 389px;
  height: 29px;
  left: 589px;
  top: 258px;
  
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  
  color: #000000;  
}
